@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO OUR SHOP</h1>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="text-center">
            <p class="lead">Discover a world of amazing products and services.</p>
            <p>At our store, we offer products and services like Spaceship, RealEstate, Kindergarten.</p>
            <p>Explore our website and start shopping today!</p>
            <a href="#" class="btn btn-primary">Shop now</a>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="Spaceship">
                <div class="card-body">
                    <h5 class="card-title">Spaceship</h5>
                    <p class="card-text">World largest shop for universe travel.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="RealEstate">
                <div class="card-body">
                    <h5 class="card-title">RealEstate</h5>
                    <p class="card-text">RealEstate services across the world.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="Kindergarten">
                <div class="card-body">
                    <h5 class="card-title">Kindergarten</h5>
                    <p class="card-text">For our smallest part of family.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
