@{
    ViewData["Title"] = "About us";
}

<div class="text-center">
    <h1 class="display-4">ABOUT US</h1>
    <p>All rights to the site belong to V.A.</p>
</div>


<div class="container">
    <div class="row mt-5">
        <div class="text-center">
            <p>We are a dedicated team of professionals. Our mission is to bring quality products and services to our customers, ensuring their satisfaction.</p>
            <p>If you have any questions or inquiries, please don't hesitate to <a href="">contact us</a>.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="text-center">
            <h2>Our Team</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="" class="card-img-top" alt="Team Member 1">
                <div class="card-body">
                    <h5 class="card-title">John Smith</h5>
                    <p class="card-text">Head of Spaceship centre.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="" class="card-img-top" alt="Team Member 2">
                <div class="card-body">
                    <h5 class="card-title">David Brown</h5>
                    <p class="card-text">Head of RealEstate services.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="" class="card-img-top" alt="Team Member 3">
                <div class="card-body">
                    <h5 class="card-title">Brigitta Virunen</h5>
                    <p class="card-text">Head of Kindergarten.</p>
                </div>
            </div>
        </div>
    </div>
</div>
