@{
    ViewData["Title"] = "Sent mail";
}

<style>
    label {
        font-weight: bold;
    }

    #mail {
        font-style: italic;
    }
</style>
<div style="margin-top: 200px">

    <div class="container">
        <form method="post">
            <div class="row justify-content-center">
                <div class="col-md-5 text-center">

                    <label  class="col-sm-2 col-form-label">Mail sent:</label>
                    <div id="mail">
                        Successfully
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>